
@media (max-width: 675px) {
    p.saying-name{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.8rem;
    }
} 

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;   
    font-size: 1.9rem;
    line-height: 1.6;
    min-width: 642px;
}
main{
    background-color: #eee;
    border-radius: 8px;
    margin: 30px 10px;
    padding: 5px 25px;
    display: block;
}
h1, p{
    display: flex;
    justify-content: center;
}
#img-div{
    background-color: white;
    padding: 10px;
}
img, figcaption{
    display:flex;
    justify-content: center;
}
img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;   
}
figcaption{
    margin: 10px;
    padding: 5px;
}
h2, h3{
    
    text-align: center;
    margin: 50px auto;
}
#tribute-info{
    margin: 0;
    padding: 5px 0;
}
#year-list{
    line-height: 3.2rem;
} 
ul{
    max-width: 650px;
    margin: auto;
    text-align: left;
}
#saying{
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.saying-name{
    font-size: 1.9rem;
    text-align: center;
}