

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;   
    font-size: 1.2rem;
    line-height: 1.6;
    min-width: 466px;
}
main{
    background-color: #eee;
    border-radius: 8px;
    margin: 30px 10px;
    padding: 5px 25px;
    display: block;
}
h1, p{
    display: flex;
    justify-content: center;
}
#img-div{
    background-color: white;
    padding: 10px;
}
img, figcaption{
    display:flex;
    justify-content: center;
}
img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;   
}
figcaption{
    margin: 10px;
    padding: 5px;
}
#tribute-info{
    max-width: 700px;
    text-align: center;
}
#year-list{
    display: inline-block;
    text-align: left;
}
/* <div id="tribute-info">
            <h2>Here's a time line of Dr. Borlaug's life:</h2>
            <ul id="year-list">*/